{% extends "base.html" %}
{% load i18n %}

{% block title %}
  <h1 class="page-header">Bem-vindo ao Centro de Suporte</h1>
{% endblock %}

{% block base_content %}
  A fim de agilizar o atendimento às requisições de suporte e melhor atendê-lo,
  nós utilizamos um sistema de tickets. A cada pedido de suporte é atribuído um
  número único que você pode usar para monitorar o progresso e as respostas
  online. Para sua referência, nós fornecemos o histórico de todos os seus
  pedidos de suporte. Um endereço de e-mail válido é necessário.
{% endblock %}
